/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #646464;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  width: 90%;
  margin: 0 auto;
}

ul li{
  text-align: center;
  padding: 0.3em;

}

.sm{
  display: flex;
  justify-content: space-between;
  margin-left: 0.3em;
  margin-right: 0.3em;
  
}

nav a:link,
nav a:visited {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #E0FF8D;
  color: #222;
  font-size: 2.5rem;
}

nav a:hover,
nav a:focus {
  background-color: #968DFF;
  color: white;
}



@media screen and (min-width:43.75em) {

ul{
  display: flex;
  flex-wrap: wrap;
  
  
}

ul li:nth-child(1){
   flex-basis:50%;
}

ul li:nth-child(2){
  flex-basis:50%;
}

ul li:nth-child(3){
  flex-basis:50%;
}
ul li:nth-child(4){
  flex-basis:50%;
}

.sm{
  width: 50%;
  margin: 0 auto;
  margin-top: 0.8em;
}
  
}


@media screen and (min-width:62.5em){

  ul{
    justify-content: space-between;
  }

  ul li:nth-child(1){
    flex-basis:15%;
 }
 
 ul li:nth-child(2){
   flex-basis:15%;
 }
 
 ul li:nth-child(3){
   flex-basis:15%;
 }
 ul li:nth-child(4){
   flex-basis:15%;
 }

 .sm{
   flex-wrap: wrap;
  
  width: 16%;
  gap: 10px;
  margin-left: 83%;

 }
 
 .sm a:nth-child(1){
   order: 3;
 }

 .sm a:nth-child(2){
  order: 4;
}
.sm a:nth-child(3){
  order: 1;
}
.sm a:nth-child(4){
  order: 2;
}
}

@media (prefers-color-scheme: light) {
 body{
  background-color: #dee78c;
 }

  nav {
      background-color: #dee78c;
  }

  nav a:link,
  nav a:visited{
    background-color: #8d89c2;
    color: white;
  }
  
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #646565;
   }
  
    nav {
        background-color: #646565;
    }
  
    nav a:link,
    nav a:visited{
      background-color: #dee78c;
      color:#646565; }

    .im{
      color: #222;

    }
}
